{:deps {applied-science/js-interop {:mvn/version "0.4.2"}
        org.clojure/java.classpath {:mvn/version "1.1.0"}
        com.github.seancorfield/honeysql {:mvn/version "2.7.1364"}
        nextjournal.clojure-mode/nextjournal.clojure-mode
        {:git/url "https://github.com/nextjournal/clojure-mode"
         :sha "699a445ebf2767f41fd0b6eeed5a008511702be6"}
        reagent/reagent {:mvn/version "1.3.0"}
        thheller/shadow-cljs {:mvn/version "3.1.8"}}
 :aliases
 {:antq
  {:deps
   {com.github.liquidz/antq {:mvn/version "2.11.1276"}
    org.slf4j/slf4j-nop {:mvn/version "2.0.17"}}
   :main-opts ["-m" "antq.core"]}
  :shadow-cljs
  {:main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
