{:deps {applied-science/js-interop {:mvn/version "0.2.11"}
        com.github.seancorfield/honeysql {:mvn/version "2.0.0-rc5"}
        nextjournal.clojure-mode/nextjournal.clojure-mode {:git/url "https://github.com/nextjournal/clojure-mode"
                                  :sha "a83c87cd2bd2049b70613f360336a096d15c5518"}
        reagent/reagent {:mvn/version "1.1.0"}
        thheller/shadow-cljs {:mvn/version "2.15.2"}}}
