{:deps true
 :dev-http {8080 "public"}
 :builds
 {:main
  {:target :browser
   :modules {:main {:init-fn com.john-shaffer.honeysql-page/init}}
   :release {:compiler-options {:optimizations :advanced}}}}}
